@model ProjetoNorthwind.Models.CustomerList;
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <form action="Client_Update" method="POST">
        <row>
            <div class="col-md-6">
                <input type="hidden" name="id" value="@Model.CustomerID" readonly>
                <label>Seu Nome</label>
                <input type="text" name="name" class="form-control" placeholder="Your Name" value="@Model.ContactName">
            </div>
            <div class="col-md-6">
                <label>Your Address</label>
                <input name="address" class="form-control" placeholder="Your Address" value="@Model.Address" readonly>
            </div>
            <div class="col-md-6">
                <label for="exampleInputPassword1">Company Name</label>
                <input type="text" name="company" class="form-control" placeholder="Comapny Name" value="@Model.CompanyName">
            </div>
            <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Citty</label>
                <input type="text" name="citty" class="form-control" placeholder="Citty" value="@Model.City">
            </div>
            <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Region</label>
                <input type="text" name="region" class="form-control" placeholder="Region" value="@Model.Region">
            </div>
            <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Postal Code</label>
                <input type="text" name="postal_code" class="form-control" placeholder="Postal Code" value="@Model.PostalCode">
            </div>
            <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Country</label>
                <input type="text" name="" class="form-control" placeholder="Country" value="@Model.Country">
            </div>
            <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Phone</label>
                <input type="text" class="form-control" placeholder="Phone" value="@Model.Phone">
            </div>
            <div class="form-check col-md-6">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Editar</button>
        </row>
    </form>
    <form action="/Client/Client_Delete" method="POST">
        <input type="hidden" name="id" value="@Model.CustomerID" />
        <button type="submit">Deletar</button>   
    </form>
</body>
</html>
